body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*
# Thiết lập các biến cần dùng thường xuyên
*/
/*-----COLOR-----*/
/*--MISC--*/
/*
 # Phần CSS cho trang chi tiết một tin đăng
*/
/*------------------------------------------------------------------*/
