@media screen and (min-width: 18.75em) {
  body {
    width: 100%;
    *zoom: 1;
  }
  body:before,
  body:after {
    content: "";
    display: table;
  }
  body:after {
    clear: both;
  }
  /*
# Thiết lập các biến cần dùng thường xuyên
*/
  /*-----COLOR-----*/
  /*--MISC--*/
  body {
    font-size: 0.98em;
    /*15px*/
  }
  .box-logo {
    text-align: center;
    padding: 0.5em;
  }
  .menu {
    overflow: hidden;
    padding: 0.5em 0.1em 0.5em 0.1em;
  }
  .menu .show-menu {
    display: block;
    width: 8em;
    padding: 0.5em;
    color: #358294;
    text-align: center;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0px 2px 3px #666;
    background: -wwebkit-linear-gradient(#ffffff, #f1f1f1);
    background: -moz-linear-gradient(#ffffff, #f1f1f1);
    background: -o-linear-gradient(#ffffff, #f1f1f1);
    background: linear-gradient(#ffffff, #f1f1f1);
    border: 1px solid #f5f5f5;
    text-shadow: 0 1px 0 #ffffff;
    font-size: 1.2em;
  }
  .menu .main-menu {
    padding: 0.3em 0;
    margin-top: 1em;
    background: #FFF;
  }
  .menu .main-menu li {
    margin: 0 0.3em;
    padding: 0;
  }
  .menu .main-menu li a {
    display: block;
    padding: 0.5em 0 0.5em 0.8em;
    background: #358294;
    color: #FFF;
    border-top: 1px solid #3f90a3;
    border-bottom: 1px solid #296f7f;
  }
  .menu .main-menu .sub-menu {
    padding: 0;
  }
  .menu .main-menu .sub-menu li {
    margin: 0;
  }
  .menu .main-menu .sub-menu li a {
    color: #e1ecef;
    padding-left: 2em;
    background: #358294 url(images/list-menu.png) no-repeat 0.7em center;
  }
  .form-tk {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    width: 85%;
    margin: 1em auto;
    padding: 0.4em 0.5em;
  }
  .form-tk input[type="text"] {
    border: 0;
    font-size: 0.9em;
    outline: none;
    background: none;
    color: #333;
    padding: 0.4em 0.5em;
    width: 80%;
  }
  .form-tk input[type="submit"] {
    border: 0;
    background: url(images/btn-search.png) no-repeat right center;
    padding: 0.6em 1em;
    outline: none;
  }
  #main {
    padding: 0.6em;
    background: rgba(255, 255, 255, 0.7);
  }
  .box-gioithieu-logo {
    display: none;
  }
  .sanpham-item {
    margin-bottom: 1em;
  }
  .sanpham-thumb {
    text-align: center;
  }
  .siderbar-box {
    overflow: hidden;
    margin-bottom: 1em;
  }
  .siderbar-header {
    padding: 0.3em 0 0.3em 0.5em;
    font-size: 1.3em;
    margin-bottom: 0.2em;
  }
  .list-tintuc-item {
    display: block;
    width: 102.08333333%;
    margin: 0 -1.04166667%;
    *zoom: 1;
    margin-bottom: 0.5em;
  }
  .list-tintuc-item:before,
  .list-tintuc-item:after {
    content: "";
    display: table;
  }
  .list-tintuc-item:after {
    clear: both;
  }
  .btn-xemthem {
    display: block;
    text-align: right;
    color: #777;
    font-style: italic;
    font-size: 0.9em;
  }
  .btn-xemthem:hover {
    color: red;
  }
  .list-tintuc-thumb {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04166667%;
    max-height: 3.75em;
    overflow: hidden;
  }
  .list-tintuc-link {
    display: inline;
    float: left;
    width: 64.58333333%;
    margin: 0 1.04166667%;
  }
  .tieude-lienquan{
    font-size: 1.3em;
  }
  #footer {
    overflow: hidden;
  }
  .menu-bottom ul li {
    padding: 0 0 0.2em 0.2em;
    display: inline-block;
    float: left;
  }
  .menu-bottom ul li a {
    display: block;
    padding: 0.5em;
    background-color: #4393a6;
    color: #FFF;
    font-size: 1em;
  }
  .footer-content {
    display: block;
    width: 102.08333333%;
    margin: 0 -1.04166667%;
    *zoom: 1;
  }
  .footer-content:before,
  .footer-content:after {
    content: "";
    display: table;
  }
  .footer-content:after {
    clear: both;
  }
  .menu-bottom,
  .footer-box {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
  }
  .footer-box {
    padding: 0.5em;
  }
  .footer-box h4 {
    text-align: center;
    margin: 0.8em 0 0.6em;
  }
  .footer-box p {
    margin: 0.3em 0;
    font-family: myfontRobotol;
    font-size: 0.95em;
  }
  .footer-box .tencty {
    text-transform: uppercase;
  }
  .social-icon {
    text-align: center;
    margin-bottom: 1em;
  }
  .social-icon a {
    display: inline-block;
  }
  .dang-ky-cong-thuong {
    text-align: center;
  }
  .under-footer {
    padding: 0.5em;
  }
  /*CHI TIẾT MỘT BÀI VIẾT*/
  h1.tieude-web {
    font-size: 1.5em;
    line-height: 1.3em;
    margin: 0;
  }
  .chitietbv-ngaydang {
    display: inline;
    float: left;
    width: 47.91666667%;
    margin: 0 1.04166667%;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .chitietbv-share {
    display: inline;
    float: left;
    width: 47.91666667%;
    margin: 0 1.04166667%;
    text-align: right;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  h3.bv-lienquan {
    margin: 0.5em 0em;
    font-size: 1em;
    padding-left: 2em;
    background: url(images/list-news.png) no-repeat 0.5em 0.4em;
  }
  /*TRANG LIÊN HỆ*/
  .box-lienhe {
    overflow: hidden;
    padding: 0.5em;
  }
  .box-lienhe-row {
    display: block;
    width: 102.08333333%;
    margin: 0 -1.04166667%;
    *zoom: 1;
  }
  .box-lienhe-row:before,
  .box-lienhe-row:after {
    content: "";
    display: table;
  }
  .box-lienhe-row:after {
    clear: both;
  }
  .title-box-lienhe {
    color: #7b972c;
    background-color: #ddecb4;
    padding: 0.5em 1em;
    border-radius: 3px;
    font-size: 1.1em;
  }
  .box-lienhe-diachi p,
  .box-lienhe-dienthoai p {
    margin: 0;
    line-height: 1.8em;
  }
  .box-lienhe-diachi i {
    color: #999;
    font-size: 0.85em;
  }
  .form-text input[type="text"],
  .form-text textarea {
    width: 100%;
  }
  /*DANH SÁCH TIN TỨC*/
  .over {
    overflow: hidden;
  }
  .bai-viet-item {
    display: block;
    width: 102.08333333%;
    margin: 0 -1.04166667%;
    *zoom: 1;
    margin-top: 1em;
  }
  .bai-viet-item:before,
  .bai-viet-item:after {
    content: "";
    display: table;
  }
  .bai-viet-item:after {
    clear: both;
  }
  .bai-viet-thumb {
    display: inline;
    float: left;
    width: 22.91666667%;
    margin: 0 1.04166667%;
    overflow: hidden;
    max-height: 3.438em;
  }
  .bai-viet-thumb img {
    max-width: 100%;
  }
  .bai-viet-info {
    display: inline;
    float: left;
    width: 72.91666667%;
    margin: 0 1.04166667%;
  }
  .bai-viet-info h2 {
    font-size: 1.1em;
    margin: 0;
  }
  .bai-viet-info h2 a {
    color: #690;
    font-weight: normal;
  }
  .bai-viet-info h2 a:hover {
    color: #069;
  }
  /*CHI TIẾT MỘT SẢN PHẨM*/
  .chitietsp-thumb {
    text-align: center;
  }
  .chitietsp-thumb img {
    max-width: 90%;
  }
  .danhmuc-gioithieu {
    text-align: justify;
  }
  #box-video {
    display: none;
  }
  /*------End Query-----------*/
}
@media screen and (max-width: 34.375em) {
  .siderbar{
    margin-top: 0.5em;
  }
}
