@media screen and (min-width: 34.375em) {
  body {
    width: 100%;
    *zoom: 1;
  }
  body:before,
  body:after {
    content: "";
    display: table;
  }
  body:after {
    clear: both;
  }
  /*
# Thiết lập các biến cần dùng thường xuyên
*/
  /*-----COLOR-----*/
  /*--MISC--*/
  .main-content {
    overflow: hidden;
    padding: 0.5em;
  }
  .form-tk input[type="text"] {
    width: 90%;
  }
  .main-content-layer2 {
    display: block;
    width: 102.08333333%;
    margin: 0 -1.04166667%;
    *zoom: 1;
  }
  .main-content-layer2:before,
  .main-content-layer2:after {
    content: "";
    display: table;
  }
  .main-content-layer2:after {
    clear: both;
  }
  .main-content-layer2 .sanpham-item {
    display: inline;
    float: left;
    width: 47.91666667%;
    margin: 0 1.04166667%;
  }
  .main-content-layer2 .danhmuc-gioithieu {
    display: inline;
    float: left;
    width: 98.91666667%;
    margin: 0 1.04166667%;
  }
  .list-tintuc-thumb {
    display: inline;
    float: left;
    width: 22.91666667%;
    margin: 0 1.04166667%;
  }
  .list-tintuc-link {
    display: inline;
    float: left;
    width: 72.91666667%;
    margin: 0 1.04166667%;
  }
  .list-tintuc-thumb img {
    width: 100%;
  }
  /*CHI TIẾT MỘT SẢN PHẨM*/
  .chitietsp-thumb {
    text-align: center;
  }
  .chitietsp-thumb img {
    max-width: 90%;
  }
  /*SIDERBAR*/
  /*TRANG LIÊN HỆ*/
  .box-lienhe-diachi,
  .box-lienhe-dienthoai {
    display: inline;
    float: left;
    width: 47.91666667%;
    margin: 0 1.04166667%;
    margin-bottom: 2em;
  }
  .title-box-lienhe {
    margin-bottom: 1em;
  }
  .box-lienhe-form {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
  }
  .form-label,
  .form-text {
    padding: 0.3em;
  }
  .form-label {
    display: inline;
    float: left;
    width: 14.58333333%;
    margin: 0 1.04166667%;
    text-align: right;
  }
  .form-text {
    display: inline;
    float: left;
    width: 81.25%;
    margin: 0 1.04166667%;
  }
  .siderbar-header {
    font-size: 1.5em;
  }
  /*DANH SÁCH TIN TỨC*/
  .bai-viet-thumb {
    max-height: 6.250em;
  }
  .bai-viet-mo-ta {
    display: block;
    text-align: justify;
  }
  .bai-viet-info h2 {
    font-size: 1.1em;
  }
  /*---------End media query-----------*/
}
@media screen and (max-width: 34.375em) {
  .menu .main-menu > li > a {
    font-weight: bold;
  }
  .siderbar{
    margin-top: 0.5em;
  }
}